.icons[data-v-55d5cc6d] {
  width: 15px;
  height: 20px;
  margin-right: 5px;
}
.nav-menu[data-v-55d5cc6d] {
  height: 100%;
  background-color: #001529;
}
.nav-menu .logo[data-v-55d5cc6d] {
  display: flex;
  height: 28px;
  padding: 12px 10px 8px 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav-menu .logo .img[data-v-55d5cc6d] {
  height: 100%;
  margin: 0 10px;
}
.nav-menu .logo .title[data-v-55d5cc6d] {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  overflow: hidden;
}
.nav-menu .el-menu[data-v-55d5cc6d] {
  border-right: none;
  background-color: #001529;
  color: #fff;
}
.nav-menu .el-submenu[data-v-55d5cc6d] {
  background-color: #001529 !important;
}
.nav-menu .el-submenu .el-menu-item[data-v-55d5cc6d] {
  padding-left: 50px !important;
  background-color: #0c2135 !important;
}
.nav-menu[data-v-55d5cc6d] .el-submenu__title {
  background-color: #001529 !important;
}
.nav-menu .el-menu-item[data-v-55d5cc6d]:hover {
  color: #fff !important;
}
.nav-menu .el-menu-item.is-active[data-v-55d5cc6d] {
  color: #fff !important;
  background-color: #0a60bd !important;
}
el-menu-vertical-demo[data-v-55d5cc6d]:not(.el-menu--collapse) {
  width: 100%;
  height: calc(100% - 48px);
}
.el-dropdown-link[data-v-83239d02] {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user[data-v-83239d02] {
  padding-left: 10px;
}
.fold-menu[data-v-45e9e785] {
  cursor: pointer;
  top: 8.5px;
}
.nav-header[data-v-45e9e785] {
  display: flex;
  width: 100%;
}
.content[data-v-45e9e785] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 20px;
}
.main[data-v-fda91b16] {
  position: flexd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mian-content[data-v-fda91b16],
.page[data-v-fda91b16] {
  position: flexd;
  height: 100vh;
}
.page-content[data-v-fda91b16] {
  height: calc(100% - 48px);
}
.page-info[data-v-fda91b16] {
  background-color: #fff;
  border-radius: 5px;
}
.el-footer[data-v-fda91b16],
.el-header[data-v-fda91b16] {
  display: flex;
  color: #333;
  text-align: center;
  align-items: center;
}
.el-header[data-v-fda91b16] {
  height: 48px;
}
.el-aside[data-v-fda91b16] {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 200px;
  text-align: left;
  cursor: pointer;
  background-color: #001529;
  transition: width liner 0.3s;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.el-aside[data-v-fda91b16]::-webkit-scrollbar {
  display: none;
}
.el-main[data-v-fda91b16] {
  color: #333;
  text-align: center;
  background-color: #f0f2f5;
}
