.btn[data-v-39abefb8] {
  display: flex;
  padding-left: 10px;
}
.header[data-v-39abefb8] {
  display: flex;
  height: 45px;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}
.title[data-v-39abefb8] {
  font-size: 20px;
  font-weight: 700;
}
.handler[data-v-39abefb8] {
  align-items: center;
}
.footer[data-v-39abefb8] {
  margin-top: 15px;
}
.el-pagination[data-v-39abefb8] {
  text-align: right;
  padding-left: 500px;
}
.page-content[data-v-401cec83] {
  padding: 20px;
  border-top: 20px solid #f5f5f5;
}
.new[data-v-401cec83] {
  background-color: #ff4500;
  color: #fff;
}
.new[data-v-401cec83]:hover {
  background-color: brown;
}
